@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&family=Orbitron:wght@400;500;600;700;800;900&display=swap');

:root {
  --white: #fff;
  --color1: #16213E;
  --color2: #0F3460;
  --color3: #533483;
  --color4: #E94560;
}

body {
  margin: 0;
  font-family: 'Fira Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color1);
  color: var(--white);
}

/* Globals */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  width: 95%;
}

img {
  max-width: 100%;
  display: block;
}

.marker {
  position: absolute;
  left: 0;
  height: 4px;
  width: 0;
  background: var(--color4);
  bottom: -8px;
  transition: 0.5s;
  border-radius: 5px;
}

.margin-top {
  margin-top: 2rem;
}