@media (max-width: 1020px) {
    .containerSearchBar {
        width: 95%;
    }

    .searchBar {
        width: 100%;
    }
}

.containerSearchBar {
    position: relative;
    flex: 0 0 30%;
}

@media(max-width: 1182px) {
    .containerSearchBar {
        flex: 0 0 20%;
    }
}

.searchBar {
    padding: .5rem .7rem;
    font-size: 1rem;
    border: 1px solid var(--white);
    border-radius: 5px;
    outline: none;
    background-color: #D0D0D0;
    color: black;
    width: 100%;
}
 

svg {
    position: absolute;
    top: 0;
    right: 0;
    height: 65%;
    color: var(--color2);
}